$primary: rgb(18, 37, 143);
$dark-primary: rgb(5, 18, 95);
$secondary: rgb(33, 158, 188);
$alt-secondary: rgb(79, 190, 218);
$tertiary: rgb(142, 202, 230);
$alt-tertiary: rgb(170, 200, 243);
$alt-background: rgb(184, 212, 248);
$contrast: rgb(250, 126, 97);
$low-contrast: rgb(251, 133, 0);
$high-contrast: rgb(255, 183, 3);
$bar-primary: rgb(82, 100, 174);
$btn-shadow-color: rgb(56, 42, 138);
$dark-green: rgb(163, 216, 150);
$regular-green: rgb(193, 226, 190);
$light-green: rgb(214, 235, 195);
$lighter-green: rgb(230, 248, 209);
$btn-green: rgb(118, 185, 71);
$btn-shadow-green: rgb(77, 152, 51);
$success: rgb(118, 185, 71);
$danger: rgb(255, 0, 0);

$default-box-shadow: -2px 7px 7px rgba(0, 0, 0, 0.15);
$footer-box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.15);
$default-border-radius: 8px;

$font: "Raleway", sans-serif;
$regular-font-size: 18px;
